extends layout

block content
  div.box
    h2 My pages
    a(href="https://naradoxy.github.io/GmailManagerGodotWebsite/") Clover Email Manager
    a(href="https://naradoxy.github.io/hazelWebsite/") Portfolio and CV
    